treechildren::-moz-tree-image(modules_zone_zone){
	list-style-image: url(/changeicons/small/zone.png) ;
}
treechildren::-moz-tree-image(modules_zone_country){
	list-style-image: url(/changeicons/small/country.png) ;
}
treechildren::-moz-tree-image(modules_zone_department){
	list-style-image: url(/changeicons/small/country.png);
}	